<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>La Semeuse</h3>
            <p>
              BP: 15 252 Libreville-Gabon<br><br>
              <strong>Téléphone:</strong> +241 74 75 32 85 <br>
              <strong>Email:</strong> sc.lasemeuse@gmail.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Liens utiles</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a class="nav-link scrollto active" href="#hero">ACCUEIL</a></li>
            <li><i class="bx bx-chevron-right"></i> <a class="nav-link scrollto" href="#about">A PROPOS</a></li>
            <li><i class="bx bx-chevron-right"></i> <a class="nav-link scrollto" href="#services">NOS SERVICES</a></li>
            <li><i class="bx bx-chevron-right"></i> <a class="nav-link scrollto" href="#team">NOTRE EQUIPE</a></li>
            <li><i class="bx bx-chevron-right"></i> <a class="nav-link scrollto" href="#contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nos services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">L'education scolaire</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">La garderie</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Notre newsletter</h4>
          <p>Les newsletters sont un moyen populaire de communication en ligne car elles permettent aux expéditeurs de rester en contact avec leur public, de promouvoir leurs  services, de partager des informations pertinentes et de maintenir leur visibilité auprès de leur base d'abonnés.</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="S'abonner">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="credits">
      &copy; Copyright <strong><span>La Semeuse</span></strong>. All Rights Reserved
      </div>
    <div class="credits">
      <!-- Tous les liens du footer doivent rester intacts. -->
      <!-- Vous pouvez supprimer les liens seulement si vous avez acheté la version pro. -->
      <!-- Informations sur la licence : https://bootstrapmade.com/license/ -->
      <!-- Achetez la version pro avec un formulaire de contact PHP/AJAX fonctionnel : https://bootstrapmade.com/dewi-free-multi-purpose-html-template/ -->
      <a href="https://jack-josias.epizy.com">Design by</a>
    </div>
  </div>
</footer>