{% extends 'base.html.twig' %}

{% block title %}Hello AcceuilController!{% endblock %}

{% block body %}
 <!-- ======= Hero Section ======= -->
 <section id="hero">
    <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
      <h1>Bienvenue sur le site du Complexe Scolaire La Semeuse</h1>
      <p class="hero-subtitle" style="color:#fff;font-size:1.2em">Le lieu où la réussite commence !</p>
    </div>
  </section><!-- End Hero -->

<main id="main">

<!-- ======= About Section ======= -->
<section id="about" class="about">
<div class="container" data-aos="fade-up">

<div class="row justify-content-end">
  <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
    <div class="count-box">
      <i class="bi bi-people-fill" style="color: #ab47bc;"></i>
      <span data-purecounter-start="0" data-purecounter-end="2136" data-purecounter-duration="1" class="purecounter"></span>
      <p>Soyez inspiré par le succès de plus de 2 136 élèves qui ont fréquenté notre établissement.</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
    <div class="count-box">
      <i class="bi bi-pie-chart-fill" style="color: #ab47bc;"></i>
      <span data-purecounter-start="0" data-purecounter-end="99" data-purecounter-duration="1" class="purecounter"></span>
      <p>Découvrez une école qui place la réussite de ses élèves au cœur de ses priorités, avec un taux de réussite au CEP de 98.972% au total, sur les cinq dernières années.</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
    <div class="count-box">
      <i class="bi bi-clock" style="color: #ab47bc;"></i>
      <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
      <p>Découvrez notre expertise éprouvée:</p>
      <p>18 années d'existence dans le domaine de l'éducation.</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
    <div class="count-box">
      <i class="bi bi-award" style="color: #ab47bc;"></i>
      <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
      <p>Découvrez notre réussite exceptionnelle:</p>
      <p>100% de réussite au CEP 2021-2022.</p>
    </div>
  </div>
</div>



  <div class="row">
    <div class="col-lg-6 video-box align-self-baseline" data-aos="zoom-in" data-aos-delay="100">
      <img style="border-radius: 1em" src="assetes/img/nice.png" class="img-fluid" alt="">
    </div>
  
    <div class="col-lg-6 pt-3 pt-lg-0 content">
      <h3>Un cadre d'apprentissage exceptionnel pour vos enfants.</h3>
      <p class="fst-italic">
        <b>Au Complexe Scolaire LA SEMEUSE, nous nous engageons à offrir une expérience éducative enrichissante et motivante.</b>
      </p>
      <ul>
        <li><i class="bx bx-check-double"></i> Des enseignants dévoués qui vous guideront vers l'excellence académique.</li>
        <li><i class="bx bx-check-double"></i> Un environnement stimulant favorisant la curiosité et l'épanouissement personnel.</li>
        <li><i class="bx bx-check-double"></i> Des programmes d'études diversifiés pour répondre aux aspirations et aux talents de vos enfants.</li>
        <li><i class="bx bx-check-double"></i> Des installations modernes et des ressources pédagogiques de pointe pour une expérience d'apprentissage optimale.</li>
      </ul>
      <p>
        Au Complexe Scolaire La Semeuse, nous croyons en la valeur de l'éducation pour façonner un avenir brillant. Notre engagement envers l'excellence académique, l'épanouissement personnel et la préparation à la vie est ce qui nous distingue. Rejoignez notre communauté éducative et découvrez un monde d'opportunités pour votre réussite.
      </p>
      <div class="mt-4">
        <h5>Historique</h5>
        <p>
          Initialement dénommée LA SEMEUSE, elle a été créée en 2005. Le Complexe Scolaire la Semeuse avait pour vocation de fournir une éducation de qualité aux jeunes apprenants. Durant ses 18 anneés d'existance, elle s'est distingué, avec brio dans l'encadrement et l'enseignement géneral des aprenants.
        </p>
      </div>

      <div class="mt-4">
        <h5>Une démarche centrée sur l’humain</h5>
        
          <p>Nous valorisons la diversité et le respect mutuel, en créant un environnement inclusif où chaque élève se sent accepté et soutenu. Notre équipe éducative travaille en étroite collaboration avec les parents pour assurer la réussite académique et le bien-être de chaque enfant. Au Complexe Scolaire la Semeuse, nous croyons en l'importance de bâtir des bases solides pour un apprentissage à vie et de cultiver la passion pour la découverte et la croissance. Nous sommes fiers de contribuer à l'épanouissement intellectuel, social et émotionnel de chaque élève qui franchit nos portes.</p>
          
      </div>
     

     
    </div>
  </div>



</div>
</section><!-- End About Section -->

<!-- ======= About Boxes Section ======= -->
<section id="about-boxes" class="about-boxes">
<div class="container" data-aos="fade-up">

  <div class="row">
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
      <div class="card">
        <img src="assetes/img/rem1.png" class="card-img-top" alt="...">
        <div class="card-icon">
          <i class="ri-brush-4-line"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title"><a href="">Notre Mission</a></h5>
          <p class="card-text">La mission premiere de "<b>LA SEMEUSE</b>" est d'aider certains parents d'élèves à pouvoir scolariser leurs enfants dans de bonnes conditions, lorsque les capacités dans le public ne le permettent pas. Puis de résoudre, quelque peu, le problème d'effectif plétorique dans les classes du public.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
      <div class="card">
        <img src="assetes/img/rem2.png" class="card-img-top" alt="...">
        <div class="card-icon">
          <i class="ri-calendar-check-line"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title"><a href="">Notre Plan</a></h5>
          <p class="card-text">Suivant ces missions qui ont été assignées par Mr le Fondateur, un plan minutieux a été concu pour l'atteinte de tous ces objectifs:<br><b>- Excellence académique</b><br><b>- Partenariat avec les parents</b> <br><b>- Environnement d'apprentissage sûr et inclusif</b> <br><b>- Restructuration du site</b> <br><b>- Intégration de la technologie</b> <br><b>- Création d'un Collège d'Enseignement Secondaire pour plus de suivi de nos apprenants.</b></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
      <div class="card">
        <img src="assetes/img/rem3.png" class="card-img-top" alt="...">
        <div class="card-icon">
          <i class="ri-arrow-right-up-line"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title"><a href="">Notre Vision</a></h5>
          <p class="card-text">Le Complexe Scolaire "<b>LA SEMEUSE</b>" est devenu, indéniablement aujourd'hui, la
            première école, en terme de réussite scolaire, dans l'enseignement général parmi
            les huit établissements scolaires de la zone de "OZOUNGUE". Notre vision est de
            recevoir une distinction spéciale du ministère de tutelle, mais surtout de placer,
            chaque année au concours du prytanée militaire, plusieurs de nos apprenants. </p>
        </div>
      </div>
    </div>
  </div>

</div>
</section><!-- End About Boxes Section -->



<!-- ======= Features Section ======= -->

<section id="features" class="features">
<div class="container" data-aos="fade-up">
<ul class="nav nav-tabs row d-flex">
<li class="nav-item col-3">
  <a  class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
    <i class="ri-store-line"></i>
    <h4 class="d-none d-lg-block">Nos atouts</h4>
  </a>
</li>

<li class="nav-item col-3">
  <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
    <i class="ri-macbook-line"></i>
    <h4 class="d-none d-lg-block">Plateforme Web</h4>
  </a>
</li>
<li class="nav-item col-3">
  <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
    <i class="ri-tablet-line"></i>
    <h4 class="d-none d-lg-block">Plateforme Mobile</h4>
  </a>
</li>
<li class="nav-item col-3">
  <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
    <i class="ri-check-fill"></i>
    <h4 class="d-none d-lg-block">Pourquoi nous choisir?</h4>
  </a>
</li>

</ul>
<div class="tab-content">
<div class="tab-pane active show" id="tab-1">
  <div class="row">
    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
      <h3>Le Complexe Scolaire la Semeuse s'est doté d'une plateforme Web et mobile pour ameliorer et offrir une experience intuitive aux differents acteurs de son systeme educatif.</h3>
      <p class="fst-italic">
        Notre plateforme mobile à pour but de permettre une communication rapide et efficace entre les parents d'eleves et les enseignants pour une meilleur comprehension et un suivi personnalisé des progrès de l'élève.
      </p>
      <ul>
        <li><i class="ri-check-double-line"></i> Ameliorer l'interaction parent d'eleve - enseignant.</li>
        <li><i class="ri-check-double-line"></i> Suivi en temps réel des absences de vos enfants.</li>
        <li><i class="ri-check-double-line"></i> Système de de communication et un suivis des évenements scolaires</li>
      </ul>
      <p>
        Profitez de notre plateforme mobile pour simplifier simplifier et ameliorer votre experiences en tant qu'acteur indeniable de notre systeme educatif.
      </p>
    </div>
    <div class="col-lg-6 order-1 order-lg-2 text-center">
      <img src="assetes/img/int1.png" alt="" class="img-fluid">
    </div>
  </div>
</div>

<div class="tab-pane" id="tab-2">
  <div class="row">
    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
      <h3>Cette plateforme web</h3>
      <p>
        Permet à toutes personne sur internet de suivre le Complexe Scolaire la Semeuse.
      </p>
       
    </div>
    <div class="col-lg-6 order-1 order-lg-2 text-center">
      <img src="assetes/img/int2.png" alt="" class="img-fluid">
    </div>
  </div>
</div>

<div class="tab-pane" id="tab-3">
  <div class="row">
    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
      <h3>Application mobile pour rester connecté</h3>
      <p>
        Notre application mobile vous permet de rester connecté à votre établissement où que vous soyez. Gérez  et accédez à toutes les fonctionnalités essentielles depuis votre smartphone.
      </p>
      <p class="fst-italic">
        Téléchargez notre application mobile dès maintenant et profitez y des avantages. 
      </p>

    </div>
    <div class="col-lg-6 order-1 order-lg-2 text-center">
      <img src="assetes/img/int3.png" alt="" class="img-fluid">
    </div>
  </div>
</div>



<div class="tab-pane" id="tab-4">
  <div class="row">
    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
      <h3>Pourquoi nous choisir?</h3>
      <p>
        Nous nous engageons également à investir dans des infrastructures modernes, des ressources pédagogiques de pointe et des technologies innovantes pour créer un environnement d'apprentissage stimulant et en phase avec les besoins du 21e siècle.             </p>
      <p class="fst-italic">
        Au Complexe Scolaire la Semeuse, nous croyons en l'importance de bâtir des bases solides pour un apprentissage à vie et de cultiver la passion pour la découverte et la croissance. Nous sommes fiers de contribuer à l'épanouissement intellectuel, social et émotionnel de chaque élève qui franchit nos portes            </p>

    </div>
    <div class="col-lg-6 order-1 order-lg-2 text-center">
      <img src="assetes/img/features-4.png" alt="" class="img-fluid">
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</section><!-- End Features Section -->

<!-- ======= Services Section ======= -->


<section id="services" class="services section-bg">
<div class="container" data-aos="fade-up">

<div class="section-title">
<h2>Services</h2>
<p>Consultez nos services</p><br>
<h5><b>LA SEMEUSE</b> s'est engagée à assurer:</h5>
</div>

<div class="row" data-aos="fade-up" data-aos-delay="200">
<div class="col-md-6">
  <div class="icon-box">
    <i class="ri-git-repository-fill"></i>
    <h4><a href="#">L'éducation scolaire</a></h4>
    <p>Dans le respect strict des programmes du Ministère de l'Education Nationale.</p>
  </div>
</div>
<div class="col-md-6 mt-4 mt-md-0">
  <div class="icon-box">
    <i class="ri-home-8-line"></i>
    <h4><a href="#">La garderie</a></h4>
    <p>Des enfants de moins de 2 ans.</p>
  </div>
</div>
</div>
</div>
</section><!-- End Services Section -->

<!-- ======= Section des témoignages ======= -->
<section id="testimonials" class="testimonials">
<div class="container" data-aos="zoom-in">

<div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
<div class="swiper-wrapper">

<div class="swiper-slide">
<div class="testimonial-item">
  <img src="assetes/img/tof1.jpg" class="testimonial-img" alt="">
  <h3>Saul Perrin</h3>
  <h4>Parent d'élève</h4>
  <p>
    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
    Je suis impressionné par l'effort fournie par cette école. Les enseignants sont dévoués et les programmes sont conformes aux normes. Mon enfant a beaucoup progressé depuis son inscription.
    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
  </p>
</div>
</div><!-- Fin du témoignage -->

<div class="swiper-slide">
<div class="testimonial-item">
  <img src="assetes/img/tof2.jpg" class="testimonial-img" alt="">
  <h3>Franck Ngolo</h3>
  <h4>Parent d'élève</h4>
  <p>
    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
     Les activités éducatives et récréatives sont bien équilibrées, ce qui favorise le développement holistique de mon enfant. Je suis reconnaissante envers l'équipe enseignante pour leur engagement et leur attention.
    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
  </p>
</div>
</div><!-- Fin du témoignage -->

<div class="swiper-slide">
<div class="testimonial-item">
  <img src="assetes/img/tof3.jpg" class="testimonial-img" alt="">
  <h3>Marvin Obiang</h3>
  <h4>Parent d'élève</h4>
  <p>
    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
    Je suis émerveillé par la façon dont cette école encourage la créativité de mon enfant. Les projets artistiques et les activités pratiques stimulent son imagination et lui permettent de s'épanouir pleinement. De plus la plateforme mobile aide grandement. Je recommande vivement cette école à tous les parents.
    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
  </p>
</div>
</div><!-- Fin du témoignage -->
</div>
<div class="swiper-pagination"></div>
</div>
</div>
</section><!-- Fin de la section des témoignages -->


<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
<div class="container" data-aos="fade-up">

  <div class="section-title">
    <h2>Équipe</h2>
    <p>Consultez notre équipe</p>
  </div>

  <div class="row">

    <div class="col-lg-4 col-md-6">
      <div class="member" data-aos="fade-up" data-aos-delay="100">
        <div class="pic"><img  src="assets/img/sendOK.jpg" class="img-fluid" alt=""></div>
        <div class="member-info">
          <h4>Mr GBADO Comlan</h4>
          <span>Directeur</span>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
      <div class="member">
        <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
        <div class="member-info">
          <h4>Mr ATAYI Paulin Akouété</h4>
          <span>Surveillant</span>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
      <div class="member">
        <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
        <div class="member-info">
          <h4>Mr GBADO Alex</h4>
          <span>Sécrétaire</span>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
</section><!-- End Team Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
<div class="container" data-aos="fade-up"">

<div class=" section-title">
  <h2>Contact</h2>
  <p>Contactez-nous</p>
</div>

<div class="row">

  <div class="col-lg-6">

    <div class="row">
      <div class="col-md-12">
        <div class="info-box">
          <i class="bx bx-map"></i>
          <h3>Notre adresse</h3>
          <p>LA SEMEUSE, BP: 15 252 Libreville-Gabon</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="info-box mt-4">
          <i class="bx bx-envelope"></i>
          <h3>Notre Email</h3>
          <p>sc.lasemeuse@gmail.com<br>gbadocomlan@gmail.com</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="info-box mt-4">
          <i class="bx bx-phone-call"></i>
          <h3>Appelez-nous</h3>
          <p>Tél : +241 74 75 32 85 <br>Tél : +241 66 19 22 95</p>
        </div>
      </div>
    </div>

  </div>

  <div class="col-lg-6 mt-4 mt-lg-0">
    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
      <div class="row">
        <div class="col-md-6 form-group">
          <input type="text" name="name" class="form-control" id="name" placeholder="Votre nom" required>
        </div>
        <div class="col-md-6 form-group mt-3 mt-md-0">
          <input type="email" class="form-control" name="email" id="email" placeholder="Votre adresse e-mail" required>
        </div>
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" required>
      </div>
      <div class="form-group mt-3">
        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
      </div>
      <div class="my-3">
        <div class="loading">Chargement</div>
        <div class="error-message"></div>
        <div class="sent-message">Votre message a été envoyé. Merci !</div>
      </div>
      <div class="text-center"><button type="submit">Envoyer le message</button></div>
    </form>
  </div>

</div>

</div>
</section><!-- End Contact Section -->

</main><!-- End #main -->
{% endblock %}
