
<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            
            <div class="col-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <mark style="color: rgb(16, 12, 91);">Complexe scolaire la semeuse</mark>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>