{% extends 'manu/base.html.twig' %}

{% block title %}Supprimer un utilisateur{% endblock %}

{% block body %}
    <h1>Supprimer un utilisateur</h1>
    <p>Voulez-vous vraiment supprimer cette utilisateur ?</p>
    <p>{{ utilisateur }}</p>

    <form action="{{ path('user_supprimer', { 'id': user.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>

{% endblock %}